.search-bar {
  display: flex;
  gap: 10px;
  margin: 20px auto;
  justify-content: center;
}

.search-bar input, .search-bar select, .search-bar button {
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
}

.search-bar button {
  background-color: #ff6347;
  color: white;
  border: none;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #e5533d;
}

@media (max-width: 767px) {
  .search-bar {
    flex-direction: column;
    align-items: center;
  }
}